<!DOCTYPE html>
<html>
<head>
<style>
<title>Contact Page</title>
.cities {
    background-color: tomato;
    color: white;
    margin: 20px;
    padding: 20px;
}
</style>
</head>
<body>
<center>
<h2><font color="orange">Welcome to my contact page:</font></h2>
<p>My name is John Heinz and this is my first website from scratch</p>

<a href="http://127.0.0.1:8000/home/">Home</a><br>
<button>This does nothing!</button><br>
<div class="cities">
    <h2>London</h2>
    <p>London is the capital of England.</p>
</div>
<div class="cities">
    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
</div>
<div class="cities">
    <h2>Tokyo</h2>
    <p>Tokyo is the capital of Japan.</p>
</div>
<div>
    
    
</div>
</center>
</body>
</html>