<!DOCTYPE html>
<html>
<center>
<head>
<style>
body {
    background-color: MediumSeaGreen;
}
h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: blue;
}
h3 {
    color: #F90000;
}
p.error {
    color: yellow;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}
#myid {
    color: #9918A2;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
<!--
<link rel="stylesheet" type="text/css" href="C:/Users/John/dev/src/templates/styles.css">
-->
</style>
</head>
<body>
<h1>Social Page</h1>
<p><em>Under constuction currently...</em></p>
<h2>request information: {{request.user}}</h2>

<p class="error">This should be an error</p><br>
<table style="width:40%;background-color: #f1f1c1;">
    <caption>BAD JOKE TABLE</caption>
    <tr>
        <th style="color:orange;">Last name</th>
        <th style="color:orange;">Name name</th>
        <th style="color:red;">Age</th>
    </tr>
    <tr>
        <td>'Closoff</td>
        <td>Oliver</td>
        <td>18 (tee-hee-hee)</td>
    </tr>
    <tr>
        <td>Dover</td>
        <td>Ben</td>
        <td>NaN</td>
    </tr>
    <tr>
        <td>Honor (pronounced <mark>ON-'(h)ER</mark>)</td>
        <td>(Judge) Your</td>
        <td>100-something years old (ancient!)</td>
    </tr>
    <tr>
        <td>Bullshit</td>
        <td>Fuckin'</td>
        <td>(the age of this website...hardy-har-har)</td>
    </tr>
</table><br>
<p id="myid">Example using CSS ID and Times New Roman font</p><br>
<h2>really FUCKING DUMB bitches list:</h2>
<ul style="width:14%;list-style-type:circle" title="dumb bitches" align="center">
    <li id="myid">Paris Hilton</li>
    <li id="myid">Tara Reid</li>   
</ul>
<ol style="width:10%;">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ol>


</body>
</center>
</html>



